<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Has cerrado sesión </h1>
 
</body>
</html>
{% extends "TurismoApp/base.html" %}
{% load static %}

{% block title %} Regist Logout  {% endblock title %}
{% block main%}
<div class="d-flex justify-content-center">
        <div class= "d-flex Flex-column">
            <p class= "fs-s fw-bold"> {{msg_login}}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Aceptar</button>
    </form>
    {%endblock main %}
